@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --primary: #8a2be2;
  --primary-light: #892be271;
  --light: #eeeeee;
  --dark: #070707;
  --dark2: #0c0c0c;
  --dark3: #161616;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerimg {
  width: 150px;
}

.body {
  position: relative;
  -webkit-font-smoothing: antialiased;
}

html body {
  max-width: 100%;
  overflow-x: hidden;
  background-color: var(--dark);
  scroll-behavior: smooth;
}

/*navbar*/

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-image: url(Imgs/topo-nav.png);
  padding: 15px 32px;
  border-bottom: 3px solid var(--primary);
}

.hamburger {
  display: block;
  position: relative;
  z-index: 1;

  user-select: none;

  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.hamburger span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background-color: var(--light);
  border-radius: 6px;
  z-index: 1;

  transform-origin: 0 0;

  transition: 0.4s;
}

.hamburger:hover span:nth-child(2) {
  transform: translateX(10px);
  background-color: var(--primary);
}

.hamburger.is-active span:nth-child(1) {
  transform: translate(0px, -2px) rotate(45deg);
}

.hamburger.is-active span:nth-child(2) {
  opacity: 0;
  transform: translateX(15px);
}

.hamburger.is-active span:nth-child(3) {
  transform: translate(-3px, 3px) rotate(-45deg);
}

.hamburger.is-active:hover span {
  background-color: var(--primary);
}

.mobile-nav {
  font-weight: 400;
  font-family: "Poppins";
  font-style: normal;
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  min-height: 100vh;
  display: block;
  z-index: 98;
  background-image: url(Imgs/topo-opacity.png);
  background-position: auto;
  background-repeat: no-repeat;
  padding-top: 120px;
  transition: 0.4s;
}

.mobile-nav.is-active {
  left: 0;
}

.mobile-nav a {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 0 auto 16px;
  text-align: center;
  padding: 12px 16px;
  border-radius: 1px;
  background-color: #501888;
  transition: 0.4s;
  border-radius: 10px;

  color: #fff;
  text-decoration: none;

  box-shadow: 0 0 0em var(--primary);
}

.mobile-nav a:hover {
  background-color: #6a21b3;
  box-shadow: 0 0 1em var(--primary);
}

.menu {
  font-weight: 400;
  font-family: "Poppins";
  font-style: normal;
  font-size: 15px;
  display: none;
  flex: 1 1 0%;
  justify-content: flex-end;
  margin: 0 -16px;
}

.menu a {
  color: #fff;
  margin: 0 16px;
  font-weight: 500;
  text-decoration: none;
  transition: 0.4s;
  padding: 8px 16px;
  border-radius: 99px;
  box-shadow: 0 0 0em var(--primary);
}

.menu a.is-active {
  background-color: var(--primary);
  font-weight: 600;
  box-shadow: 0 0 1em var(--primary);
}

.menu a:hover {
  background-color: var(--primary);
}

/*progressbar*/

::-webkit-scrollbar {
  width: 0;
}

#progressbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  background: linear-gradient(to bottom, var(--primary), var(--primary-opaque));
  z-index: 99;
}

#progressbar:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, var(--primary), var(--primary-opaque));
  filter: blur(10px);
}

#progressbar:after {
  filter: blur(30px);
}

#scrollpath {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  background: rgb(255, 255, 255, 0.05);
  z-index: 98;
}

/*progressbarend*/

/*gotop btn start*/

.to-top {
  background-color: var(--dark3);
  position: fixed;
  z-index: 99;
  bottom: 16px;
  right: 32px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  pointer-events: none;
  opacity: 0;
  font-size: 18px;
  z-index: 99;
  outline: solid 2px;
  outline-color: var(--primary-light);
  text-decoration: none;
  transition: 0.3s;
  backdrop-filter: blur(3px) grayscale(50%);
  box-shadow: 0 0 0em var(--primary);
}

.to-top:hover {
  transform: scale(1.1);
  box-shadow: 0 0 1em var(--primary);
}

.to-top.is-active {
  opacity: 1;
  pointer-events: auto;
}

/*gotop btn end*/

/* prices */

.align{
  transform: translate(-50%, -50%);
}

.titlegrp {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;   
  margin: 250px 100%;
  transform: translate(-50%, -50%);
  background-image: url(Imgs/endless-constellation.svg);
  height: 300px;
  width: 90%;
  color: #fff;
  z-index: 98;
  background-position: center;
  background-size: auto;  
  box-shadow: 0 0 2em rgba(0, 0, 0, 0.575);
  border-radius: 20px;
}

.titlegrp .pricestitle {
  margin-left: 10%;  
  font-family: "Poppins";
  text-align: left;
  font-size: 3em;
  font-weight: 700;
  color: #ffffff;
}

.titlegrp h4 {
  margin-left: 10%;
  height: auto;
  left: 10%;
  top: 5vw;
  width: 50%;
  font-family: "Poppins";
  text-align: left;
  font-size: 1em;
  font-weight: 400;
  color: #ffffff;
}

.titlegrp .twitterclick {
  color: #fff;
}

/*preços e cartões start*/

/*fundo cinza que engloba a seção de preços*/
.prices {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;   
  margin: 450px 100%;
  transform: translate(-50%, 0);
  background: rgba(0, 0, 0, 0.65);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(109, 109, 109, 0.1);
  height: auto;
  /*height: auto;*/
  width: 90%;
  color: #fff;
  z-index: 98;
  background-position: center;
  background-size: auto;  
  box-shadow: 0 0 2em rgba(0, 0, 0, 0.575);
  border-radius: 20px;
  padding: 35px;
}

/*divisor para linha1*/
.prices .line1{
  width: 100%;  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;  
  gap: 45px;
  background-color: rgb(255, 0, 0, 0);  
}

/*divisor para linha de titulo 1*/
.prices .textline1{
  padding: 50px 0 50px;
  width: 100%;  
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;  
  gap: 45px;
  background-color: rgb(0, 0, 255, 0);  
}

/*personalização titulo da linha de texto 1*/
.prices .textline1 .text{
  font-family: "Poppins";  
  font-size: 3.25em;
  text-align: center;
  letter-spacing: 1px;
  font-weight: 700;
  color: #fff;
}

/*divisor para linha2*/
.prices .line2{
  width: 100%;  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;  
  gap: 45px;
  background-color: rgb(0,255, 0, 0);  
}

/*cartão*/
.prices .card{    
  width: 400px;
  height: 450px;  
  background-color: rgb(0,255, 0, 0);   
}
/*PRIMEIRO cartão*/
.prices .card .titlecard{
  width: 450px;
  height: 450px;  
  background-color: rgb(0,255, 0, 0);  
}

/*personalização PRIMEIRO cartão*/
.titlecard{  
  background-color: rgba(255, 255, 255, 0);
  height: auto;
  width: auto;      
}

/*personalização titulo PRIMEIRO cartão*/
.titlecard h1{ 
  font-family: "Poppins";
  text-align: left;
  font-size: 3em;
  font-weight: 700;
  color: #fff;
  line-height: 60px;
}
/*personalização descrição PRIMEIRO cartão*/
.titlecard h3{
  font-family: "Poppins";
  text-align: left;
  font-size: 1.5em;
  font-weight: 600;
  color: var(--primary);
}

/*personalização cartão*/
.card{
  background: linear-gradient(180deg, rgba(255,255,255,0.15) 0%, rgba(255,255,255,0.10) 100%);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border: 1px solid rgba(109, 109, 109, 0.2);
  transition: 0.4s;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*justify conteudo*/
.card .content{
  width: 85%;
  height: 90%;
  background-color: rgb(255, 255, 0, 0);
  display: flex;
  gap: 2.5%;
  flex-direction: column;
}

/*caixa que define o tamanho da imagem do conteudo*/
.card .content .imgbox{
  width: 100%;
  height: 55%;
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='70' height='8' patternTransform='scale(7) rotate(40)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 3%, 1)'/><path d='M-.02 22c8.373 0 11.938-4.695 16.32-9.662C20.785 7.258 25.728 2 35 2c9.272 0 14.215 5.258 18.7 10.338C58.082 17.305 61.647 22 70.02 22M-.02 14.002C8.353 14 11.918 9.306 16.3 4.339 20.785-.742 25.728-6 35-6 44.272-6 49.215-.742 53.7 4.339c4.382 4.967 7.947 9.661 16.32 9.664M70 6.004c-8.373-.001-11.918-4.698-16.3-9.665C49.215-8.742 44.272-14 35-14c-9.272 0-14.215 5.258-18.7 10.339C11.918 1.306 8.353 6-.02 6.002'  stroke-width='0.5' stroke='hsla(271, 76%, 53%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(-294,-7)' fill='url(%23a)'/></svg>");  
  overflow: hidden; 
  border-radius: 10px;
}

/*imagem do conteudo*/
.card .content .imgbox img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/*caixa que define o tamanho da descrição do conteudo*/
.card .content .desc{
  width: 100%;
  height: 40%;
  background-color: rgb(255, 0, 0, 0);    
  align-self: flex-end;
}

/*titulo do produto*/
.card .content .product{
  font-family: "Poppins";
  text-align: left;
  font-size: 2em;
  font-weight: 700;
  color: #ffffff;
}

/*informações do produto*/
.card .content .info{
  font-family: "Poppins";
  text-align: left;
  font-size: 1em;
  font-weight: 500;
  color: #ffffff;
}

/*preço do produto*/
.card .content .pricetag{
  font-family: "Poppins";
  text-align: left;
  font-size: 2em;
  font-weight: 700;
  color: #ffffff;
}

/*hover cartão*/
.card:hover{
  background: linear-gradient(180deg, rgba(255,255,255,0.25) 0%, rgba(255,255,255,0.10) 100%);
  transform: scale(1.03);
  cursor: pointer;
}

.divisao {
  width: 35%;
  height: 5px;
  background-color: #8a2be2;
  margin: 15px 0 15px;
  border: none;
  border-radius: 5px;
  display: flex;
  left: 50%;    
}

.divisaocard {
  width: 35%;
  height: 5px;
  background-color: #8a2be2;
  margin: 10px 0 10px;
  border: none;
  border-radius: 5px;
  display: flex;
  left: 50%;    
}

.divisaopage {
  width: 35%;
  height: 5px;
  background-color: #8a2be2; 
  border: none;
  border-radius: 5px;
  display: flex;
  left: 50%;    
}

/*fundo escuro popup lightbox dos produtos*/
.popup{
  position: fixed;
  display: flex;    
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  width: 100vw;
  height: 0vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 98;
  transition: opacity .4s ease-in-out; 
  margin-top: 5vh;
}

/*mostrar popup*/
.popup.show{
  opacity: 1;  
  height: 95vh;    
}

/*esconder popup*/
.popup.hide{
  opacity: 0;  
  height: 0vh; 
  transition: all .4s ease;
}

/*mostrar conteudo*/
.popup .content.show{
  opacity: 1;  
  height: 90%;    
}

/*esconder conteudo*/
.popup .content.hide{
  opacity: 0;  
  height: 0%;
  transition: all .4s ease;
}

/*caixa popup */
.popup .box{
  width: 92%;
  height: 80%;
  background-color: var(--dark);  
  border-radius: 30px;  
  display: flex;
  justify-content: center;
  align-items: center;
}

/*justify popup */
.popup .box .content{
  width: 90%;
  height: 90%;
  background-color: rgb(255, 255, 255, 0);
  display: flex;
  flex-direction: row;
  gap: 50px;
  transition: opacity .4s ease-in-out; 
}


/* popup botao close*/
.content .close{   
  color: #fff;
  transition: 0.4s;     
}

.content .close:hover{
  color: rgb(189, 189, 189);
}  

.content .m-close{
  display: none;
}

.content .leftcolumn{
  width: 60%;
  height: 100%;
  border-radius: 20px;
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='70' height='8' patternTransform='scale(7) rotate(40)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 3%, 1)'/><path d='M-.02 22c8.373 0 11.938-4.695 16.32-9.662C20.785 7.258 25.728 2 35 2c9.272 0 14.215 5.258 18.7 10.338C58.082 17.305 61.647 22 70.02 22M-.02 14.002C8.353 14 11.918 9.306 16.3 4.339 20.785-.742 25.728-6 35-6 44.272-6 49.215-.742 53.7 4.339c4.382 4.967 7.947 9.661 16.32 9.664M70 6.004c-8.373-.001-11.918-4.698-16.3-9.665C49.215-8.742 44.272-14 35-14c-9.272 0-14.215 5.258-18.7 10.339C11.918 1.306 8.353 6-.02 6.002'  stroke-width='0.5' stroke='hsla(271, 76%, 53%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(-294,-7)' fill='url(%23a)'/></svg>");  
  overflow: hidden; 
  background-position: center;
  background-size: cover;  
}

.content .leftcolumn img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.content .rightcolumn{
  width: 40%;  
  justify-content: center;
  display: flex;
  flex-direction: column;  
}

.rightcolumn .title{
  display: none;
  font-family: "Poppins";
  text-align: left;
  font-size: 50px;
  font-weight: 700;
  color: #ffffff;
}

.rightcolumn .desc{
  display: none;
  font-family: "Poppins";
  text-align: left;
  font-size: 20px;
  font-weight: 300;
  color: #ffffff;
}

.rightcolumn .button{
  margin-top: 15px;
  text-decoration: none;
  color: #fff;      
  background-color: var(--primary);
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  border: none;
  border-radius: 15px;    
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  transition: 0.4s; 
  width: 130px;   
}

.rightcolumn .button:hover{
  box-shadow: 0 0 1.5em var(--primary);
  cursor: pointer;
}

.rightcolumn .legal {
  display: none;
  font-family: "Poppins";
  font-size: 0.8vw;
  margin-top: 25px;  
  color: #999;
  opacity: 75%;
}


.divisaopopup {
  width: 100px;
  height: 5px;
  background-color: #8a2be2;
  border: none;  
  border-radius: 5px;    
  margin: 15px 0 15px 0 ;
}


#videoBGhome {
  position: fixed;
  z-index: -1;
  opacity: 100%;
}
/* video responsive */

@media (min-aspect-ratio: 16/9) {
  #videoBGhome {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  #videoBGhome {
    width: auto;
    height: 100%;
  }
}

/*hamburger responsive */

@media (min-width: 760px) {
  .hamburger {
    display: none;
  }
  .menu {
    display: flex;
  }
}

/*responsive*/

/*android*/
@media screen and (max-width: 760px) {
  .titlegrp h4 {
    width: 80%;
  }

  .prices .line1{
    flex-direction: column;
  }

  .prices .card{
    width: 100%;
    max-height: 400px;
    height: 400px;
  }

    /*titulo do produto*/
  .card .content .product{    
    font-size: 1.75em;    
  }

  /*informações do produto*/
  .card .content .info{
    font-size: 0.9em;    
  }

  /*preço do produto*/
  .card .content .pricetag{    
    font-size: 1.75em;    
  }

  /*personalização titulo da linha de texto 1*/
  .prices .textline1 .text{
    font-size: 2.5em;
  }

  .content .close{
    display: none;
  }

  .content .m-close{        
    color: #fff;
    display: flex;
    justify-content: flex-end;                
    padding: 0 0 30px 0;  
    z-index: 99; 
  }  
  
  .popup .box .content{
    flex-direction: column;    
    justify-content: center;
    gap: 0px;
  }

  .content .leftcolumn{
    width: 100%;
    height: 50%;    
  }

  .content .rightcolumn{
    width: 100%;
    height: 40%;  
    margin-top: 30px;  
    justify-content: start;
  }

  .rightcolumn .title{    
    font-size: 30px;
    text-align: center;    
  }
  
  .rightcolumn .desc{    
    font-size: 15px;    
    text-align: center;  
  }
  
  .rightcolumn .button{   
    align-self: center;
  }
  
  .rightcolumn .button:hover{
    box-shadow: 0 0 1.5em var(--primary);
    cursor: pointer;
  }
  
  .rightcolumn .legal {    
    display: none;
    font-size: 7px;   
    text-align: center;
  }
  
  .divisaopopup{
    margin-left: 50%;
    transform: translateX(-50%);
  }
}
